*{
  Box-sizing: border-box;
  Margin: 0;
  Padding: 0;
  Max-width: 100%;
  }

  .main {
    background-image: url('./images/Background.jpg');
    background-size: cover;
    height: 1500px;
    position: relative;
  }


  /* .resume {
    background-image: url('./images/lights.jpg');
    background-size: cover;
    height: 1200px;
    position: relative;
    background-position: bottom;
  } */


  /*Main Page CSS*/





  

  .star-button-1 {
    background-color: rgba(255, 255, 255, 0.537);
    border: none;
    box-shadow: -5px 5px 5px rgba(0, 5, 63, 0.797);
    position: absolute;
    padding: 2%;
    border-radius: 180px;
    top: 45%;
    left: 69%;
  }

  .star-button-1:hover {
    box-shadow: 0 0 5px rgba(245, 245, 245, 0.105),
                0 0 0 160px rgba(245, 245, 245, 0.020),
                0 0 0 145px rgba(245, 245, 245, 0.030),
                0 0 0 130px rgba(245, 245, 245, 0.050),
                0 0 0 115px rgba(245, 245, 245, 0.060),
                0 0 0 100px rgba(245, 245, 245, 0.070),
                0 0 0 85px rgba(245, 245, 245, 0.080),
                0 0 0 70px rgba(245, 245, 245, 0.080),
                0 0 0 60px rgba(245, 245, 245, 0.100),
                0 0 0 50px rgba(245, 245, 245, 0.110),
                0 0 0 40px rgba(245, 245, 245, 0.110),
                0 0 0 30px rgba(245, 245, 245, 0.120),
                0 0 0 20px rgba(245, 245, 245, 0.120),
                0 0 0 10px rgba(245, 245, 245, 0.120);
    animation-name: ripple;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }

  @keyframes ripple {
    0% {transform: scale3d(0.75,0.75,1);}
    50% {transform: scale3d(1.15,1.15,.75);}
    100% {transform: scale3d(0.75,0.75,1)}
  }

 

  .about-me-show {
    width: 30%;
    position: absolute;
    padding: 1.5%;
    top: 59%;
    left: 59%;
    text-align: justify;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 8px rgb(255, 255, 255);
    box-shadow: -15px 15px 10px rgba(1, 1, 55, 0.242);
    font-size: 1.1rem;
    font-family: 'Arial';
    background-color: rgba(250, 229, 0, 0.372);
  }

  .about-me-hide {
    display: none;
  }

  .resume:hover {
    box-shadow: 0 0 5px rgba(245, 245, 245, 0.105),
                0 0 0 160px rgba(245, 245, 245, 0.020),
                0 0 0 145px rgba(245, 245, 245, 0.030),
                0 0 0 130px rgba(245, 245, 245, 0.050),
                0 0 0 115px rgba(245, 245, 245, 0.060),
                0 0 0 100px rgba(245, 245, 245, 0.070),
                0 0 0 85px rgba(245, 245, 245, 0.080),
                0 0 0 70px rgba(245, 245, 245, 0.080),
                0 0 0 60px rgba(245, 245, 245, 0.100),
                0 0 0 50px rgba(245, 245, 245, 0.110),
                0 0 0 40px rgba(245, 245, 245, 0.110),
                0 0 0 30px rgba(245, 245, 245, 0.120),
                0 0 0 20px rgba(245, 245, 245, 0.120),
                0 0 0 10px rgba(245, 245, 245, 0.120);
    animation-name: ripple;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }

  /* Projects CSS */

  iframe {
    width: 50%;
    height: 300px;
    margin: 5% auto;
  }

  /*Resume CSS*/
.link {
  background-color: red;
}
.resume-title {
  position: absolute;
  margin: auto;
  padding: 4%;
  top: 5%;
  left: 25%;
  background-color: rgba(252, 248, 223, 0.509);
  font-size: 1.5rem;
  color: rgba(45, 43, 39, 0.94);
  text-shadow: 0px 0px 15px rgb(203, 174, 57),
               -10px 10px 8px rgba(0, 0, 0, 0.529);
  line-height: 50px;
  font-family: 'Mountains of Christmas';
  box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.454),
              -18px 18px 8px rgba(238, 201, 127, 0.427);
  font-weight: bolder;
}

.resume-footer {
  background-image: 
    linear-gradient(rgb(181, 189, 235), 
                    rgba(103, 68, 228, 0.769) 20%,
                    rgba(87, 36, 145, 0.913) 40%, 
                    rgba(49, 19, 92, 0.897) 60%, 
                    rgb(34, 1, 55) 85%);
  padding: 5%;
  position: relative;

}

/* rgb(238, 201, 127) */